<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <!-- relative path -->
    <!-- '=' equal sign escapes special character and output as string value, not html -->
    <!-- '-' minus sign is required to output include file -->
    <%- include("./partials/nav.ejs") %>

    <div class="blogs content">
      <h2>All Blogs</h2>

      <% if (blogs.length > 0) { %> <% blogs.forEach(blog => { %>
      <h3 class="title"><%= blog.title %></h3>
      <p class="snippet"><%= blog.snippet %></p>
      <% }) %> <% } else { %>
      <p>There are no blogs to display...</p>
      <% } %>
      <%- include("./partials/footer.ejs") %>
    </div>

  </body>
</html>
